* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background-color: coral;
}

nav a {
  margin-right: 50px;
  color: white;
  text-decoration: none;
}

.list-wrapper {
  width: 90%;
  margin: auto;
}

.list-wrapper .category-item {
  margin: 10px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid coral;
  padding: 10px;
  border-radius: 7px;
}

.list-wrapper a {
  color: black;
  text-decoration: none;
}

.cat {
  width: 90%;
  margin: auto;
}

.category-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.category-wrapper .item {
  width: 30%;
}

.load-button {
  align-items: center;
}

.button1:hover {
  background-color: #0fd615;
  color: white;
}

.button {
  background-color: #549e57; 
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
}